/*цвет основного контента #757575*/
/*цвет заголовка #212121*/
/*цвет акцента #2196F3*/
/*белый цвет #FFFFFF*/
/*цвет футера #2F303A*/
/*цвет копирайта rgba(255, 255, 255, 0.4)*/

/*Общее*/

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --copyright-color: rgba(255, 255, 255, 0.4);
}

.list {
  list-style: none;
}

/*Стили для Шапки*/

body {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: var(--primary-title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts {
  color: var(--primary-text-color);
}

/*Стили для Героя*/
.hero-title {
  color: #ffffff;
}
.button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

/*Стили секций*/
.section-title {
  color: var(--primary-title-color);
}

.advantages-title {
  color: var(--primary-title-color);
}

/*Стили Футера*/
.footer {
  background-color: var(--footer-bg-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  color: var(--button-text-color);
}

.address {
  color: #ffffff;
}

.copyright {
  color: var(--copyright-color);
}
